body{
  background-color: #202029;
  color: #e9e9ea;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 300;
}
h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 10px;
}
button{
  font-weight: 700;
  font-style: italic;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}
.container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.container > * {
  flex: 1 100%;
}
header{
  order: 1;
}
.container main{
  flex: 2;
  order: 2;
  line-height: 34px;
}
p + p{
  margin-top: 30px;
}
svg{
  fill: #e9e9ea;
}
input{
  background-color: transparent;
  border: none;
  color: #e9e9ea;
  font: 300 16px 'Roboto Mono', monospace;
}
input:focus{
  outline: none;
}
input::placeholder{
  color: #e9e9ea;
}
button:focus{
  outline: none;
}

/* Header */
.videoActive h1{
  display: inline-block;
  text-align: left;
}
.headerBtns{
  padding: 0;
  float: right;
}
.headerBtns li{
  list-style: none;
  display: inline-block;
}
.headerBtns li + li{
  margin-left: 30px;
}
.headerBtns button{
  background-color: #bdbdbd;
  padding: 8px 8px 4px;
}
.headerBtns svg{
  fill: #212121;
  height: 32px;
  width: 32px;
}
/* Add Video */
#addVideo{
  flex: 0 0 85%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
}
.addVideoWrap{
  border-bottom: 1px solid white;
  margin-top: 35px;
}
.addVideoWrap svg{
  vertical-align: bottom;
  position: relative;
  bottom: 3px;
  margin-right: 5px;
}
.addVideoWrap.invalid{
  border-bottom-color: #64231d;
}
.addVideoWrap.invalid svg{
  fill: #64231d;
}
.invalidLinkMsg{
  color: white;
  background-color: #64231d;
  line-height: 24px;
  text-align: center;
  margin-top: 15px;
}
.savedVideosList button{
  text-decoration: none;
  background-color: #32323b;
  color: #8c8c90;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  font-style: normal;
  width: 100%;
  text-align: center;
  line-height: 48px;
  padding: 0;
}
.savedVideosList li{
  width: 50%;
  display: inline-block;
}
.savedVideosWrap{
  margin-top: 23px;
}
.savedVideoDetails{

}

/* Video Editor */
#videoEditor{
  flex: 0 0 85%;
}
.loopList, .savedVideosList {
  padding: 0;
  margin: 0;
  list-style: none;
}
.loopList li{
  position: relative;
}
.loopList li + li {
  margin-top: 1px;
}
.loopDetails{
  background-color: #32323b;
  color: #8c8c90;
  line-height: 24px;
  padding: 0 5px;
  position: relative;
  width: 100%;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out, color 0.3s ease-in-out;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}
.active > .loopDetails{
  color: #e9e9ea;
}
.loopName, .timeControl{
  display: inline-block;
  color: #8c8c90;
  padding: 0;
  transition: color 0.3s ease-in-out;
}
.loopName{
  width: 115px;
  text-overflow: ellipsis;
}
.loopRange{
  flex: 1 1 auto;
}
.loopDelay{
  width: 100%;
}
.timeControl{
  width: 20px;
  text-align: center;
}
.hour,.minute, .delay{
  width: 10px;
}
.timeTo{
  margin: 0px 5px;
}
.active .loopName{
  width: 85px;
}
.active .loopDetails{
  width: calc(100% - 156px);
  left: 48px;
}
.active .timeControl, .active .loopName{
  color: #0177e5;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button.loopAction{
  text-decoration: none;
  padding: 8px 8px 4px;
  position: absolute;
  top: 0;
  background-color: #191919;
}
button.loopAction svg{
  height: 32px;
  width: 32px;
}
.repeatCount{
  width: 10px;
  line-height: 32px;
  vertical-align: top;
}
.loopType{
  right: 0;
}
.loopType.forever{
  right: 60px;
}
.loopType.active{
  background-color: #006635;
}
.deleteWrap{
  background-color: #ff857b;
  position: absolute;
  width: 100%;
  height: 48px;
  top:0;
  left: 0;
  z-index: 1;
  opacity: 0.5;
  pointer-events: none;
}
.deletePercent{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #620002;
  width: 100%;
}
/* Responsive */
@media (min-width: 576px) {
  .container{
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container{
    max-width: 720px;
  }
  #addVideo{
    flex: 0 0 67%;
    max-width: 67%;
  }
  .addVideoWrap, .invalidLinkMsg{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .container{
    max-width: 960px;
  }
  .addVideoWrap, .invalidLinkMsg{
    width: 45%;
  }
  .loopDetails{
    padding: 0 10px;
  }
  .active .loopName{
    width: 115px;
  }
  #videoEditor{
    display: flex;
  }
  .ytVidWrap{
    margin-right: 30px;
  }
  .ytVidWrap, .loopList{
    flex: 1 1 50%;
  }
}

@media (min-width: 1200px) {
  .container{
    max-width: 1140px;
  }
}