/*@group General*/
@font-face {
         font-family: 'DINRoundOT-Black';
         src: url('/static/fonts/DINRoundOT-Black.eot'); 
         src: url('/static/fonts/DINRoundOT-Black.eot?#iefix') format('embedded-opentype'),
              url('/static/fonts/DINRoundOT-Black.woff') format('woff'), 
              url('/static/fonts/DINRoundOT-Black.ttf')  format('truetype'), 
              url('/static/fonts/DINRoundOT-Black.svg#svgFontName') format('svg');
}

@font-face {
         font-family: 'FuturaStd-Light';
         src: url('/static/fonts/FuturaStd-Light.eot'); 
         src: url('/static/fonts/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
              url('/static/fonts/FuturaStd-Light.woff') format('woff'), 
              url('/static/fonts/FuturaStd-Light.ttf')  format('truetype'), 
              url('/static/fonts/FuturaStd-Light.svg#svgFontName') format('svg');
}

@font-face {
         font-family: 'FuturaStd-Medium';
         src: url('/static/fonts/FuturaStd-Medium.eot'); 
         src: url('/static/fonts/FuturaStd-Medium.eot?#iefix') format('embedded-opentype'),
              url('/static/fonts/FuturaStd-Medium.woff') format('woff'), 
              url('/static/fonts/FuturaStd-Medium.ttf')  format('truetype'), 
              url('/static/fonts/FuturaStd-Medium.svg#svgFontName') format('svg');
}

@font-face {
         font-family: 'FuturaStd-Heavy';
         src: url('/static/fonts/FuturaStd-Heavy.eot'); 
         src: url('/static/fonts/FuturaStd-Heavy.eot?#iefix') format('embedded-opentype'),
              url('/static/fonts/FuturaStd-Heavy.woff') format('woff'), 
              url('/static/fonts/FuturaStd-Heavy.ttf')  format('truetype'), 
              url('/static/fonts/FuturaStd-Heavysvg#svgFontName') format('svg');
}
body{
    font-family: "FuturaStd-Light", Helvetica, Arial, sans-serif;
    background-color: #E2E2E2;
}
li{
    list-style: none;
}
p{
    text-align: justify;
    font-size: 1.1em;
}
#preload{
    display: none;
}
a:hover{
    text-decoration: none;
}
strong{
    font-family: "FuturaStd-Medium";
}
/*@end*/

/*@group Header*/
.header{
    background-color: #00273D;
    padding: 10px 0;
}
h1, #drop-nav{
    padding-top: 10px;
    padding-bottom: 10px;
}
#drop-nav, #drop-nav img{
    float: right;
}
h1{
    margin-left: 20px;
}
#drop-nav{
    width: 19%!important;
    margin-top: 5px;
}
/*@end*/

/*@group Nav*/
.nav{
    display: none;
    padding: 0;
}
.nav a{
    font-size: 1.3em;
    font-family: 'FuturaStd-Medium';
    text-align: center;
    color: #36A1BA;
    background-color: #003C56;
    border-top: 1px solid #004F6B;
}
.nav .last a{
    background-color: #36A1BA;
    border: none;
    color: white;
}
/*@end*/

/*@group Prod links*/
.prod-link{
    display: block;
    color: white;
    font-family: 'FuturaStd-Medium';
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}
.dev .prod-link{
    background-color: #FF8000;
}
.dev .prod h2{
    background-color: #EF7100;
}
.pub .prod-link{
    background-color: #8ED100;
}
.pub .prod h2{
    background-color: #6DBA00;
}
.adv .prod-link, .adv .prod h2{
    background-color: #D72156;
}
.prod-link:hover{
    text-decoration: none;
    color: black;
}
.prod{
    margin-top: 0px;
    padding: 0 15px;
    opacity: 0;
}
.prod.loaded{
    opacity: 1;
}
.prod .reasons{
    background-color: white;
    padding: 10px 0;
}
.prod h2{
    color: white;
    text-align: center;
    font-family: 'FuturaStd-Medium';
    margin-bottom: 5px;
    font-size: 1.2em;
    padding: 10px 0;
    text-transform: uppercase;
}
.prod .info{
    display: none;
}
.prod .info.tall{
    margin-top: 7px;
}
.prod .info p{
    color: white;
    background-color: #F0F0F0;
    padding: 10px;
}
.dev .prod .info p{
    background-color: #EF7100;
}
.dev .arrow{
    display: block;
    width: 40px;
    height: 20px;
    margin: 0 auto -5px;
    background-image: url(../images/dev-infarrow.png);
    background-size: 40px;
}
.pub .prod .info p{
    background-color: #6DBA00;
}
.pub .arrow{
    display: block;
    width: 40px;
    height: 20px;
    margin: 0 auto -5px;
    background-image: url(../images/pub-infarrow.png);
    background-size: 40px;
}
.reasons li{
    margin-bottom: 10px;
}
.reasons li a{
    font-family: 'FuturaStd-Medium';
    background-repeat: no-repeat;
    display: block;
    height: 40px;
    padding: 8px 10px 0 60px;
    background-position: 10px 0px;
    background-size: 40px;
}
.dev .reasons li a{
    color: #FF8000;
}
.pub .reasons li a{
    color: #8ED100;
}
.adv .reasons li a{
    color: #D72156;
}
.reasons li a.act{
    color: black;
    text-decoration: none;
}

.dev .reasons .one a{
    background-image: url(../images/li/dev-1-inac.png);
}
.dev .reasons .one a.act{
    background-image: url(../images/li/dev-1-act.png);
}
.dev .reasons .two a{
    background-image: url(../images/li/dev-2-inac.png);
}
.dev .reasons .two a.act{
    background-image: url(../images/li/dev-2-act.png);
}
.dev .reasons .three a{
    background-image: url(../images/li/dev-3-inac.png);
}
.dev .reasons .three a.act{
    background-image: url(../images/li/dev-3-act.png);
}
.dev .reasons .four a{
    background-image: url(../images/li/dev-4-inac.png);
}
.dev .reasons .four a.act{
    background-image: url(../images/li/dev-4-act.png);
}
.dev .reasons .five a{
    background-image: url(../images/li/dev-5-inac.png);
}
.dev .reasons .five a.act{
    background-image: url(../images/li/dev-5-act.png);
}

.pub .reasons .one a{
    background-image: url(../images/li/pub-1-inac.png);
}
.pub .reasons .one a.act{
    background-image: url(../images/li/pub-1-act.png);
}
.pub .reasons .two a{
    background-image: url(../images/li/pub-2-inac.png);
}
.pub .reasons .two a.act{
    background-image: url(../images/li/pub-2-act.png);
}
.pub .reasons .three a{
    background-image: url(../images/li/pub-3-inac.png);
}
.pub .reasons .three a.act{
    background-image: url(../images/li/pub-3-act.png);
}
.pub .reasons .four a{
    background-image: url(../images/li/pub-4-inac.png);
}
.pub .reasons .four a.act{
    background-image: url(../images/li/pub-4-act.png);
}
.pub .reasons .five a{
    background-image: url(../images/li/pub-5-inac.png);
}
.pub .reasons .five a.act{
    background-image: url(../images/li/pub-5-act.png);
}

.adv-label{
    color: #45C0E7;
    text-align: center;
    display: block;
}
/*@end*/

/*@group Mochiland*/
#mochiland{
    background-color: white;
    font-family: arial;
    margin-top: 10px;
}
#mochiland .title{
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 10px;
    line-height: 1.1em;
}
#mochiland .date{
    color: #999;
    margin: 5px 0;
}
#mochiland .post{
    text-align: justify;
    margin-bottom: 10px;
}
#mochiland a{
    background-color: #43C1E8;
    font-family: 'FuturaStd-Medium';
    color: white;
    font-size: 1.5em;
    text-align: center;
    display: block;
    padding: 10px 0;
}
/*@end*/

/*@group Footer*/
.foot-sign-up, .contact-us, #create_user, #reg-next-slide{
    font-size: 1.5em;
    font-family: 'FuturaStd-Medium';
    color: white;
    display: block;
    background-color: #36A1BA;
    text-align: center;
    padding: 15px 0;
    margin-top: 15px;
}
.foot-sign-up:hover{
    text-decoration: none;
}
.social-hooks{
    padding: 15px 0;
    background-color: #00273D;
}
.social-hooks li{
    display: inline-block;
    width: 18%;
    margin: 0 0 0 3px;
}
.social-hooks li a{
    display: block;
    margin: 0 auto;
}
.foot-nav{
    padding-left: 0;
}
.foot-nav li a.action{
    font-size: 1.3em;
    font-family: 'FuturaStd-Medium';
    color: #36A1BA;
    text-align: center;
    display: block;
    background-color: #00273D;
    border-top: 1px solid #004360;
    padding: 15px 0;
}
.foot-end{
    padding: 15px 0;
    background-color: #003C56;
    color: white;
    text-align: center;
    font-size: 1.2em;
}
.foot-end li a{
    color: white;
}
.copy-close{
    position: relative;
    margin-bottom: -38px;
}
.copyright{
    margin-top: 15px;
    color: #999;
    font-size: 0.9em;
}
#to-top{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 55px;
}
#contact-info, #team-info, #registration, #jobs{
    display: none;
    padding: 0 15px;
}
#team-info ul{
    padding: 0;
}
#team-info li{
    display: inline-block;
    width: 24%;
    vertical-align: top;
    margin-bottom: 15px;
}
#team-info img{
    display: block;
    margin: 0 auto;
}
#team-info .name, #team-info .title{
    text-align: center;
}

#registration{
    overflow: hidden;
    padding: 0;
    margin-bottom: 15px;
}

#registration .textbox{
    font-family: 'FuturaStd-Medium';
    font-size: 1.3em;
    text-align: center;
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 0;
    margin-bottom: 15px;
}
.textbox.error{
    color: #DF2020;
}
#create_user, #reg-next-slide{
    cursor: pointer;
    border: none;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0;
}
.reg-wrapper{
    position: relative;
    width: 200%;
}
.reg-slide{
    width: 50%;
    padding: 0 15px;
    display: inline-block;
    float: left;
}
.deactivated{
    background-color: #ccc!important;
    color: #a7a9ab!important;
}
#tos{
    float: left;
    margin-right: 10px;
}
/*@end*/

/*@group RECAPTCHA*/
#recaptcha_widget{
    position: relative;
    border: 1px solid #dfdfdf;
}
#recaptcha_widget_div{
    width: 216px;
    overflow:hidden;
} 
#recaptcha_image img{
    width: 250px;
}
#recaptcha_response_field{
    margin: 15px 0;
    width: 250px;
}
#captcha-options{
    position: absolute;
    top: 2px;
    right: 0;
}
#captcha-options .option{
    display: block;
    height: 16px;
}
#captcha-options .recaptcha_only_if_image.option, #captcha-options .recaptcha_only_if_audio.option{
    height: 14px;
}
/*@end*/