@import "vars";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
  font-weight: $weight-medium;
  color: $baseBlack;
}
a{
  color: $baseBlack;
  text-decoration: none;
}

.container {
  margin-right: auto;
  margin-left: auto;
  @include mbp-up($breakpoint-md){
    width: 750px;
  }
  @include mbp-up($breakpoint-lg){
    width: 970px;
  }
  @include mbp-up($breakpoint-xl){
    width: 1170px;
  }
}

#app {
  overflow: hidden;
  .section {
    &.Gray {
      background-image: url('~@/assets/_bg-gray.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.White {
      background-image: url('~@/assets/_bg-white.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    &.Home {
      background-image: url('~@/assets/_bg-home.svg');
      background-size: cover;
      background-repeat: no-repeat;
    }
    .tour-button {
      background-color: $rmaxBlue;
      color: #ffffff;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: $weight-bold;
      margin-left: 15px;
      padding: 12px 15px 13px;
      border-radius: 5px;
      display: inline-block;
    }
  }
}