footer {
  background-color: black;
  bottom: 0;
  padding: 15px;
  text-align: center;
  z-index: 101px;
  display: block;
  color: white;
  font-size: 12px;
  line-height: 18px;
  font-weight: $weight-light;
  @include mbp-up($breakpoint-xl){
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    width: 100%;
    font-size: 14px;
    line-height: 20px
  }  
  a {
    color: white;
  }
  .footer-left {
    display: inline-block;
    width: 100%;
    text-align: left;
    @include mbp-up($breakpoint-lg){
      width: 70%;
    } 
    p {
      padding-bottom: 10px;
      @include mbp-up($breakpoint-md){
        padding-bottom: 5px;
      }  
      @include mbp-up($breakpoint-lg){
        padding-left: 15px;
        padding-bottom: 0;
      }  
    }
  }
  .footer-right {
    display: inline-block;
    width: 100%;
    text-align: left;
    @include mbp-up($breakpoint-lg){
      width: 30%;
      text-align: right;
    }
    p {
      text-transform: uppercase;
      display: inline-block;
      font-weight: $weight-bold;
      padding-right: 15px;
    }
    ul {
      padding-bottom: 10px;
      padding-top: 10px;
      @include mbp-up($breakpoint-lg){
        padding-right: 15px;
      }
      li {
        display:inline;
        padding-right: 15px;
        @include mbp-up($breakpoint-lg){
          padding-right: 0;
          padding-left: 15px;
        }
      }
    }
  }
}
