@import "vars";
header{
  background-color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  box-shadow: 0 -5px 21px -3px grey;
  @include mbp-up($breakpoint-xl){
    background-color: transparent;
    box-shadow: none;
  }
  &.headerShort {
    a {
      .txt {
        display: none;
        @include mbp-up($breakpoint-md){
          display: inline-block;
        }
      }
    }
  }
  .booj-logo {
    img {
      height: 45px;
      width: 114px;
      position: absolute;
      z-index: 3;
      left: 30px;
      display: none;
      @include mbp-up($breakpoint-lg){
        display: block;
        top: 5px;
      }
      @include mbp-up($breakpoint-xl){
        top: 20px;
      }
    }
  }
  #mainMenu{
    background-color: white;
    padding: 10px 0;
    position: relative;
    z-index: 2;
    @include mbp-up($breakpoint-lg){
      text-align: right;
    }
    @include mbp-up($breakpoint-xl){
      padding-top: 0;
      background-color: transparent;
    }

    > li{
      text-align: center;
      display: inline-block;
      vertical-align: top;
      width: 33%;
      @include mbp-up($breakpoint-lg){
        width: auto;
        margin-right: 40px;
        position: relative;
      }
      > a{
        font-size: 10px;
        display: inline-block;
        cursor: pointer;

        @include mbp-up($breakpoint-md){
          background-color: $rmaxRed;
          color: white;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          font-size: 14px;
          font-weight: $weight-bold;
          padding-right: 10px;
        }
        @include mbp-up($breakpoint-xl){
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }
        .clickWrap{
          display: block;
        }
        .iconWrap{
          background-color: $rmaxRed;
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 5px;
          padding: 7px;
          box-sizing: border-box;
          pointer-events: none;
          @include mbp-up($breakpoint-md){
            border-radius: 0;
            background-color: transparent;
          }
        }
        .txt{
          margin-top: 5px;
          display: block;
          text-transform: uppercase;
          pointer-events: none;
          @include mbp-up($breakpoint-md){
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 3px;
          }
        }
      }
    }
  }
  #toursMenu{
    position: absolute;
    right: 0;
    top: 10%;
    list-style: none;
    width: 100%;
    background-color: $rmaxRed;
    padding: 10px 10px;
    opacity: 0;
    transition: top $animSpeedBase ease-in-out, opacity $animSpeedBase ease-in-out;
    pointer-events: none;
    z-index: 1;
    @include mbp-up($breakpoint-lg){
      top: calc(10% + 10px);
      width: auto;
      text-align: right;
      border-radius: 5px;
      right: 40px;
    }

    &.active{
      pointer-events: auto;
      opacity: 1;
      top: 100%;
      @include mbp-up($breakpoint-lg){
        top: calc(100% + 10px);
      }
      
    }

    li + li{
      margin-top: 20px;
    }
    a{
      color: white;
      font-size: 14px;
      font-weight: $weight-bold;
      text-transform: uppercase;
    }
  }
}