@import "vars";
#introOverlay{
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 101;
  
  .introWrap{
    position: relative;
    z-index: 100;
    height: 100%;
    width: 100%;
    overflow: scroll;
    transition: transform $animSpeedBase ease-in-out;
    @include mbp-up($breakpoint-lg){
      overflow: visible;
      transform: translate3d(0px, 0px, 0px);
    }
  }

  &.hide{
    display: none;
  }
  .skipIntro{
    font-weight: $weight-bold;
    font-size: 14px;
    opacity: 0.6;
    text-decoration: underline;
    display: inline;
    position: fixed;
    top: 12px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1070px;
    margin: 0 auto 0;
    @include mbp-up($breakpoint-sm){
      font-size: 16px;
    }
     > span{
      cursor: pointer;
     }
  }
  .scrollFixed{
    color: $rmaxRed;
    font-size: 12px;
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    z-index: 100;
  }
  .logBomax{
    width: 240px;
    margin: 30px auto 0;
  }
  .vidtitle{
    font-size: 24px;
    font-weight: $weight-light;
    text-align: center;
    margin-top: 30px;

    @include mbp-up($breakpoint-sm){
      font-size: 32px;
    }
  }
  #vimeoVid{
    min-height: 150px;
    margin-top: 20px;
    @include mbp-up($breakpoint-md){
      min-height: 350px;
    }

    iframe{
      width: 100% !important;
    }
  }
  .vidDescription{
    font-weight: $weight-bold;
    font-size: 16px;
    text-align: center;
    line-height: 1.35em;
    margin-top: 5px;
  }
  .vidTooltips{
    list-style: none;
    margin-top: 20px;
    @include mbp-up($breakpoint-sm){
      display: table;
    }
    .tooltip{
      text-align: center;
      @include mbp-up($breakpoint-sm){
        width: 1%;
        display: table-cell;
        vertical-align: bottom;
      }
    }
    li+li{
      margin-top: 25px;
      @include mbp-up($breakpoint-sm){
        margin-top: 0;
      }
    }
  }
  .tooltip{
    margin-top: 10px;
    position: relative;
    cursor: pointer;
    .ttTitle{
      color: $rmaxBlue;
      text-transform: uppercase;
      font-weight: $weight-bold;
    }
    .ttDescription{
      display: none;
      font-size: 14px;
      position: absolute;
      background-color: white;
      border-radius: 10px;
      z-index: 1;
      bottom: 100%;
      width: 160px;
      box-sizing: border-box;
      box-shadow: 0 0 5px 0px rgba(0,0,0,0.75);
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      padding: 15px 20px;
      font-weight: $weight-medium;
      line-height: 1.35em;
    }
    &:focus, &:active, &:hover{
      .ttDescription{
        display: block;
      }
    }
  }
  #vidWrap{
    @include mbp-up($breakpoint-lg){
      display: inline-block;
      width: calc(100% - 190px);
      vertical-align: top;
      margin-right: 20px;
    }
  }
  .vidList{
    margin-top: 15px;
    @include mbp-up($breakpoint-lg){
      display: inline-block;
      width: 170px;
      vertical-align: top;
      margin-top: 20px;
    }

    li.active {
      cursor: default;
      .thumbnail{
        background-color: $rmaxBlue;
        border-width: 0;
      }
      .thumbGradient{
        @include mbp-up($breakpoint-sm){
          opacity: 0.6;
        }
      }
    }
    li{
      width: calc(33% - 10px);
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;

      @include mbp-up($breakpoint-sm){
        box-sizing: border-box;
        padding-right: 15px;
      }
      @include mbp-up($breakpoint-lg){
        width: 100%;
      }

      + li{
        margin-left: 15px;
        @include mbp-up($breakpoint-lg){
          margin-left: 0;
          margin-top: 38px;
        }
      }
    }
    .thumbnail{
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid #A2A1A1;
      box-sizing: border-box;
      display: inline-block;
      position: relative;

      @include mbp-up($breakpoint-sm){
        width: 100%;
        height: 90px;
        border-radius: 20px;
        border: none;
        overflow: hidden;

        &:hover, &:active, &:focus{
          .thumb_hover{
            display: block;
          }
          .thumb_base{
            display: none;
          }
        }
      }

      .thumb_base, .thumb_hover{
        max-width: 100%;
        position: absolute;
        left: 0;
        display: none;
      }
      .thumb_base{
        @include mbp-up($breakpoint-sm){
          display: block;
        }
      }
    }
    .thumbGradient{
      display: none;
      transition: opacity $animSpeedBase ease-in-out;
      @include mbp-up($breakpoint-sm){
        display: block;
        background: rgb(0,89,173);
        background: linear-gradient(180deg, rgba(0,89,173,1) 0%, rgba(0,46,109,1) 100%);
        z-index: 1;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
    .thumbTitle{
      color: white;
      background-color: $rmaxRed;
      font-size: 10px;
      border-radius: 6px;
      padding: 7px 0;
      line-height: 1.35em;
      margin-top: 5px;
      text-transform: uppercase;
      font-weight: $weight-bold;

      @include mbp-up($breakpoint-sm){
        position: absolute;
        right: 0;
        bottom: -9px;
        padding: 3px 10px;
        margin-top: 0;
        z-index: 2;
      }
    }
  }

  .section{
    min-height: 100%;
    box-sizing: border-box;
    + .section{
      padding-top: 40px;
    }

    background-image: url('~@/assets/_bg-intro-2.svg');
    background-size: cover;

    &:first-child{
      background-image: url('~@/assets/_bg-intro-1.svg');
    }
    .sectionWrap{
      max-width: 1070px;
      margin: 0 auto;
      padding: 15px 35px;
      box-sizing: border-box;
      position: relative;
      z-index: 10;
    }
  }

  .introTitle, .introDescription{
    line-height: 1.35em;
  }
  .introTitle{
    font-size: 24px;
    
  }
  .introDescription{
    font-size: 16px;
    margin-top: 20px;

    p + p{
      margin-top: 10px;
    }
  }
  .introText{
    font-weight: $weight-light;
    text-align: center;
    
    @include mbp-up($breakpoint-lg){
      width: 230px;
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
  }
  .introGraphic{
    margin-top: 20px;
    @include mbp-up($breakpoint-lg){
      width: calc(100% - 240px);
      display: inline-block;
      vertical-align: top;
      margin-top: 0;
      margin-left: 10px;
    }

    img{
      width: 100%;
    }
  }

  .rectLeft, .rectRight{
    display: none;
    position: absolute;
    width: 250px;

    @include mbp-up($breakpoint-md){
      display: block;
    }
    @include mbp-up($breakpoint-lg){
      width: 340px;
    }
  }
  .rectLeft{
    left: -140px;
    top: 100px;
    @include mbp-up($breakpoint-lg){
      left: 0;
    }
  }
  .rectRight{
    right: -140px;
    top: 350px;
    @include mbp-up($breakpoint-lg){
      right: 0;
      top: 100px;
    }
  }
}