.sliceCRM{
  .slide-wrapper{
    padding-top: 35px;
    padding-bottom: 35px;
    @include mbp-up($breakpoint-md){
      padding-top: 20px;
      padding-bottom: 40px;
    }
    @include mbp-up($breakpoint-lg){
      padding-top: 30px;
    }
    @include mbp-up($breakpoint-xl){
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
  .top-text{
    text-align: center;
    .title{
          font-size: 24px;
          line-height: 32px;
          font-weight: $weight-light;
          margin: 0 auto 5px;
          @include mbp-up($breakpoint-md){
            font-size: 32px;
            line-height: 44px;
          }
          @include mbp-up($breakpoint-xl){
            font-size: 44px;
            line-height: 52px;
            max-width: 970px;
          }
      } 
      .description {
        font-size: 16px;
        line-height: 24px;
        font-weight: $weight-bold;
        margin: 0 30px 50px;
        @include mbp-up($breakpoint-xl){
          font-size: 24px;
          line-height: 32px;
          max-width: 970px;
          margin: 0 auto 50px;
        }
      }
  }
  .carousel-3d-slide{
    border: none;
    background-color: transparent;

    img{
      position: absolute;
      bottom: 0;
    }
  }
  .galleryWrap{
    position: relative;
  }
  .galleryBg{
    background-image: url("~@/assets/crm-gallery-bg.svg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    display: none;
    position: absolute;
    bottom: -10%;
    width: 100%;
    z-index: -1;
    @include mbp-up($breakpoint-sm){
      display: block;
    }
    @include mbp-up($breakpoint-md){
      height: 100px;
    }
    @include mbp-up($breakpoint-lg){
      height: 125px;
    }
  }
  .galleryNextBtn, .galleryPrevBtn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    background-color: $rmaxRed;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: $weight-bold;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
  }
  .galleryNextBtn{
    right: 10%;
    @include mbp-up($breakpoint-sm){
      right: 32%;
    }
    @include mbp-up($breakpoint-md){
      right: 22%;
    }
  }
  .galleryPrevBtn{
    left: 10%;
    @include mbp-up($breakpoint-sm){
      left: 32%;
    }
    @include mbp-up($breakpoint-md){
      left: 22%;
    }
  }

  #slideInfo{
    position: relative;
    height: 340px;

    @include mbp-up($breakpoint-sm){
      height: 230px;
      top: -15px;
    }

    .slideInfoPost, .slideInfoPre{
      opacity: 0;
      z-index: -1;
      transition: opacity $animSpeedBase ease-in-out;

      &.active{
        opacity: 1;
        z-index: 1;
      }
    }
  }

  .slideInfoWrapper{
    position: absolute;
    color: white;
    background-color: $rmaxDarkBlue;
    border-radius: 10px;
    text-align: center;
    padding: 20px 10px;
    box-sizing: border-box;
    width: calc(100% - 60px);
    margin: 0 30px;

    @include mbp-up($breakpoint-sm){
      width: 570px;
      padding: 20px 15px;
      margin: 0;
      left: 50%;
      transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
    }

    .bbTitle{
      font-size: 20px;
      line-height: 28px;
      font-weight: $weight-bold;
    }
    .bbDescritpion{
      font-size: 14px;
      line-height: 20px;
      margin-top: 10px;
    }
    .tourButton{
      display: inline-block;
      background-color: white;
      color: $rmaxDarkBlue;
      border-radius: 6px;
      padding: 15px;
      margin-top: 20px;
      font-weight: $weight-bold;
      font-size: 12px;
      text-transform: uppercase;
      > span{
        display: none;

        @include mbp-up($breakpoint-sm){
          display: inline;
        }
      }
    }
  }
}