.sliceApp {
	.slide-wrapper {
	    padding-top: 35px;
	    padding-bottom: 35px;
	    @include mbp-up($breakpoint-md){
	      padding-top: 20px;
	      padding-bottom: 40px;
	    }
	    @include mbp-up($breakpoint-lg){
	      padding-top: 30px;
	    }
	    @include mbp-up($breakpoint-xl){
	      padding-top: 0px;
	      padding-bottom: 0px;
	    }
		.top-text {
			text-align: center;
			.title{
			    font-size: 24px;
			    line-height: 32px;
			    font-weight: $weight-light;
			    margin: 0 auto 5px;
			    @include mbp-up($breakpoint-md){
			      font-size: 32px;
			      line-height: 44px;
			    }
			    @include mbp-up($breakpoint-xl){
			      font-size: 44px;
			      line-height: 52px;
			      max-width: 970px;
			    }
			}	
			.description {
				font-size: 16px;
				line-height: 24px;
				font-weight: $weight-bold;
				margin: 0 30px 30px;
				@include mbp-up($breakpoint-xl){
			      font-size: 24px;
			      line-height: 32px;
			      max-width: 970px;
			      margin: 0 auto 35px;
			    }
			} 
		} 
		.two-column {
			position: relative;
			text-align: center;
			@include mbp-up($breakpoint-lg){
				text-align: left;
			}
			img, .contentWrap {
				display: inline-block;
				vertical-align: top;
			}
			.img-wrapper {
				width: 100%;
				display: inline-block;
				text-align: center;
				@include mbp-up($breakpoint-lg){
					text-align: right;
					width: 50%;
				}
				img {
					max-height: 450px;
				}
			}
			.contentWrap {
				width: 100%;
				@include mbp-up($breakpoint-lg){
					width: 50%;
				}
				.txt-wrapper {
					margin-left: 20px;
					@include mbp-up($breakpoint-lg){
						margin-top: 75px;
					}
					img {
						margin-bottom: 10px;
						max-height: 75px;
					}
					.content-right-title, .content-right-description {
						margin-left: 5px;
					}
					.content-right-title {
						color: $rmaxDarkBlue;
						font-size: 18px;
						line-height: 27px;
						max-width: 250px;
						font-weight: $weight-bold;
						margin-left: auto;
						margin-right: auto;
						@include mbp-up($breakpoint-lg){
							margin: 0px 0px 0px 5px;
						}
					}
					.content-right-description {
						font-size: 14px;
						line-height: 20px;
						max-width: 300px;
						margin-bottom: 15px;
						font-weight: $weight-medium;
						margin-left: auto;
						margin-right: auto;
						@include mbp-up($breakpoint-lg){
							margin: 0px 0px 20px 5px;
						}
					}
				}
				.download-buttons {
					margin-left: 20px;
					margin-bottom: 35px;
					.apple-link {
						img {
							width: 123px;
							height: 38px;
							margin-right: 20px;
						}
					}
					.google-link {
						img {
							width: 121px;
							height: 38px;
						}
					}
				}
				.tour-button {
					margin-left: 25px;
				}
			}
		}
	}
}