.sliceSimple{
  .slide-wrapper {
    padding: 100px 30px 35px;
    @include mbp-up($breakpoint-md){
      padding-top: 60px;
      padding-bottom: 40px;
    }
    @include mbp-up($breakpoint-lg){
      padding-top: 30px;
    }
    @include mbp-up($breakpoint-xl){
      padding-top: 0px;
      padding-bottom: 0px;
    }
    text-align: center;
    @include mbp-up($breakpoint-lg){
      text-align: left;
    }
    .img-wrapper {
      width: 100%;
      text-align: center;
      @include mbp-up($breakpoint-lg){
        width: 50%;
        display: inline-block;
      }  
      img{
        // padding-top: 100px;
        max-height: 45vh;
        @include mbp-up($breakpoint-lg){
          padding-top: 0;
          display: inline-block;
          vertical-align: middle;
          max-height: 500px;
        }
      }
    }
    .contentWrap{
      margin-top: 40px;
      box-sizing: border-box;
      @include mbp-up($breakpoint-lg){
        width: 50%;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0;
        // margin-left: 5%;
      }
    }
    .description, .title{
      font-weight: $weight-light;
    }
    .description{
      margin-top: 10px;
      @include mbp-up($breakpoint-lg){
        margin-top: 25px;
      }  
    }
  }
}
