$weight-light: 300;
$weight-medium: 500;
$weight-bold: 700;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1920px;

$rmaxRed: #E91D2D;
$rmaxBlue: #0059AD;
$rmaxDarkBlue: #002E6D;
$baseBlack: #231F20;
$bgGray: #F4F4F4;
$borderGray: #A2A1A1;

$animSpeedBase: .5s;
$animSpeedFast: .25s;

$headerHeightXS: 76px;
$headerHeightSM: 50px;

@mixin mbp-up($bpSize){
  @media (min-width: $bpSize){
    @content;
  }
}