$weight-light: 300;
$weight-medium: 500;
$weight-bold: 700;

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$rmaxRed: #E91D2D;
$rmaxBlue: #0059AD;
$rmaxDarkBlue: #002E6D;
$baseBlack: #231F20;

$animSpeedBase: 0.3s;

@mixin mbp-up($bpSize){
  @media (min-width: $bpSize){
    @content;
  }
}